<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <label for="query">Pesquise pelo nome do personagem:</label><br />
            <span>
                <input id="query" type="text" ng-model="$ctrl.search" 
                placeholder="digite aqui o nome"
                    class="form-control" uib-typeahead="heroe.name for heroe in $ctrl.loadCharacters($viewValue)"
                    typeahead-min-length="3" typeahead-wait-ms="300" typeahead-editable="true" />
            </span>
        </div>
    </div>

    <br />
    <hr />

    <div class="row">

        <div class="col-md-6">
            <ul ng-if="heroes.data.results.length">
                <li class="todo" ng-repeat="heroe in heroes.data.results" ng-click="$ctrl.loadCharacter(heroe.id);">
                    <i class="done fa fa-info-circle fa-lg"></i>
                    {{heroe.name}}
                </li>
            </ul>
            <p ng-if="!heroes.data.results.length" class="small-font">Sem resultados...</p>
        </div>

        <div class="col-md-6">
            <div ng-show="charSelected.data.results.length" class="">
                <h3 ng-show="charSelected.data.results[0].name">{{charSelected.data.results[0].name}}</h3>
                <p>
                    <img ng-show="charSelected.data.results[0].thumbnail" style="float:left; margin:15px"
                        alt="imagem indisponível"
                        ng-src="{{charSelected.data.results[0].thumbnail.path.replace('http', 'https')}}/portrait_xlarge.{{charSelected.data.results[0].thumbnail.extension}}">
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div ng-show="charSelected.data.results[0].description">
                <p>
                    {{charSelected.data.results[0].description}}
                </p>
            </div>
            <div ng-show="charSelected.data.results[0].name && !charSelected.data.results[0].description ">
                <p class="small-font">
                    descrição indisponível...
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12" ng-show="charSelected.data.results[0].urls">
            <p>
            <h4>Links:</h4>
            <ul style="list-style:none">
                <li ng-repeat='url in charSelected.data.results[0].urls'><a href="{{url.url.replace('http', 'https')}}" target="_blank">
                        <span class="glyphicon glyphicon-new-window"></span> {{url.type }}</a>
                </li>
            </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-show="comics && comics.length > 0" style="clear:both; min-height:200px">
                <p>Quadrinhos ({{comicsTotalItems}}):</p>
                <div class="row">
                    <div class="col-sm-2" ng-repeat="comic in comics">
                        <figure>
                            <a href ng-click="$ctrl.getComic(comic.resourceURI)">
                                <img ng-src="{{comic.thumbnail.path.replace('http', 'https')}}/portrait_medium.{{comic.thumbnail.extension}}"
                                    width="100px" height="150px" />
                                <figcaption>{{comic.title}}</figcaption>
                            </a>
                        </figure>
                    </div>
                </div>

                <div>
                    <p>{{attributionHTML}}</p>
                </div>
            </div>
        </div>
    </div>

</div>